/* MENU */

.menu-continer{
    display: flex;
    justify-content: center;
    font-family: Atkinson Hyperlegible;
    color: #00574F;
    padding-top: 7rem;
}
.Select{
    margin: 0;
    font-size: 48px;
}
.grade{
font-size: 36px;
margin: 0;
margin-top: 4rem;
padding-left: 2rem;
}
.picture-selection{
    display: flex;
    justify-content: space-between;
    padding: 0rem 18rem;
    font-family: Atkinson Hyperlegible;
    color: #00574F;
}
.link-index{
    text-decoration: none;
    color: #EFF3FF;
}
.cutepicture3{
    display: flex;  
    justify-content: center;
    gap: 2rem;

    
}
.firstpic{
    width: 40rem; 
}
.secondpic{
   width: 40rem;
}
.menuwrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 414px) 
{
    .header-blue{
        height: 4rem;
    }
    
.menu-continer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    padding-top: 4rem;
}
.Select {
    font-size: 20px;
    margin: 0;
}
.picture-selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0rem 0rem;
    padding-left: 9rem;
}

.image-selection{
    width: auto;
    height: auto;
}
.grade{
    margin-top: 1rem;
    font-size: 25px;
}
.firstpic{
    margin-left: 8rem;
    gap: 0rem;
}
}


@media screen and (max-width: 950px)
{
    .picture-selection{

    justify-content: center;
    padding: 0rem 10;       
}
.firstpic, .secondpic{
    width: 20rem;
    height: auto;
}
.BrightEDStartcontainer{
    font-size: 2rem;
    padding-left: 1rem;
    margin-right: 0px;
}
.header-menu{
    font-size: 15px;
}
}
