body{
    background-image: linear-gradient( #E0F4F2,#A8DCD6);
    min-height: 100vh; 
    margin: 0;
    font-family: Poppins;
    color: #EFF3FF;
}
.header-blue{
    height: 7rem;
    background: #004D6B;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.BrightEDStartcontainer{
    font-size: 50px;
    display: flex;
    padding-left: 4rem;
    position: relative;
    bottom: 1.5rem;
}
.header-menu{
    display: flex;
    position: relative;
    bottom: 1rem;
    font-size: 24px;
    padding-right: 2rem;
}
.text{
    padding-right: 2rem;
}
.image{
    padding-left: 1.8rem;
    position: relative;
    top: 2rem;
}
.content{
    display: flex;
    justify-content:space-between;
    padding-top: 5rem;
}
.bigpic{
    position: relative;
    right: 7rem;
}
.samllpic{
    position: absolute;
    top: 32rem;
    left: 18rem;
}
.introduction{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    display: relative;
    margin-top: 9rem;
    
}
.WELCOME{
    font-size: 50px;
    color: #00574F;
    margin: 0;
    position: relative;
    right: 1rem;
}
.learning{
    font-size: 40px;
    color: #0D433E;
    margin: 0;
    margin-top: 1rem;
    position: relative;
    right: 1rem;
}
.buttonwrap{
    background: #004D6B;
    color: #EFF3FF;
    font-size: 64px;
    width: auto;
    height: 144px;
    border-radius: 108px;
    border-style: none;
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    padding-top: 2rem;
    box-shadow: 10px 10px 20px #004058 inset;
}
.arrow{
    position: relative;
    top: 1rem;
    left: 1rem;
}






