body{
    background-image: linear-gradient( #E0F4F2,#A8DCD6);
    min-height: 100vh; 
    margin: 0;
    font-family: Poppins;
    color: #EFF3FF;
}
.header-blue{
    height: 7rem;
    background: #004D6B;
    display: flex;
    justify-content: space-between;
    margin: 0;
    vertical-align: top;
}
.BrightEDStartcontainer{
    font-size: 50px;
    display: flex;
    padding-left: 4rem;
    position: relative;
    bottom: 1.5rem;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding-right: 2rem;
    padding-top: 1.6rem;
}
.text{
    padding-right: 2rem;
    margin: 0;
    padding-top: 2rem;
}
.text1{
    padding-right: 2rem;
    margin: 0;
    padding-top: 2rem;
    color: #F48F4A;
}
.header-link,
.link-index
{
    text-decoration: none;
    color: #EFF3FF;
}
.image{
    padding-left: 1.8rem;
    position: absolute;
}
.navigation-arrow{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video-wrapper{
background: #C2DFEE;
width: 1140px;
border-radius: 40px;
height: 956px;
}
.upperdiv{
    display: flex;
    justify-content: space-between;
    background: #E0F4F2;
    border-radius: 40px;
    margin-top: 2rem;
    width: 1099px;
    height: 371px;
   margin-left: 1.5rem;
}
.preview{
  background: #A8C6D5;
  border-radius: 40px 0px 0px 40px;
  width:427px;
}
.investigator{
    margin-top: 4rem;
}
.previews-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #212121;
    font-family: Poppins;
    margin-right: 6rem;
}
.Sponsored{
    font-size: 50px;  
    margin: 0;
    font-weight: 700;
}
.Follow{
    font-size: 24px;
    text-align: center;
    margin: 0;
}
.watchbutton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 65px;
    background: #F48F4A;
    border-radius: 100px;
    font-family: Poppins;
    font-size: 30px;
    margin-top: 1rem;
}
.halfbuttondesign{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #AF5A1F;
    height: 65px;
    width: 60px;
    border-radius: 0px 100px 100px 0px;
}
.video-logo{
margin-left: 1rem;
}
.middlediv{
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    font-size: 32px;
    color: #212121;
    font-weight: 600;
    padding-left: 1.9rem;
}
.featured{
    margin: 0;
}
.lowerdiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Poppins;
    font-size: 32px;
    color: #212121;
    font-weight: 600;
}
.video1{
    display: flex;
    flex-direction: column;    
    background: #E0F4F2;
    height: 274px;
    width: 259px;
}
.watchbutton2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 131px;
    height: 36px;
    background: #F48F4A;
    border-radius: 100px;
    font-family: Poppins;
    font-size: 16px;
}
.halfbuttondesign2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #AF5A1F;
    height: 36px;
    width: 29px;
    border-radius: 0px 100px 100px 0px;
}
.video-logo{
margin-left: 1rem;
}
.button1{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    margin-right: 1rem;
}
.kidz{
    margin: 0;
}




